.bottles-section {
  border: 1px solid #34170e;
  border-radius: 35px;
  margin-top: 63px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.4));
}

.badge-bottles {
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.4));
}
