.brasserie .col-6:nth-child(2) {
  border: 1px solid #34170e;
  border-radius: 0 35px 0 0;
  border-left: none;
}

.brasserie .col-12 {
  border: 1px solid #34170e;
  border-top: none;
  border-radius: 0 0 35px 35px;
}

.brasserie .col-12 {
  padding: 63px;
}

.col-12 p:nth-child(2) {
  padding-top: 63px;
}

.brasserie {
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.4));
}
