.nav-footer {
  border-radius: 0%;
}

// ------------------------------

.test div {
  font-size: 12px;
  font-weight: 400;
}

.website-details {
  display: flex;
  align-items: center;
  padding: 17px 50px;
  gap: 149.5px;
  border-right: 1px solid #34170e;
}

.website-details img {
  padding-right: 6px;
}

.test {
  display: flex;
  align-items: center;
}

.creator {
  width: 337px;
  text-align: center;
}

.last-cont-footer {
  border: 1px solid #34170e;
  border-top: none;
}

// -------------------

.iframe {
  border: 1px solid #34170e;
  border-bottom: none;
}

.contact {
  border: 1px solid #34170e;
  border-bottom: none;
  padding: 63px 0 63px 51px;
}

.contact p {
  text-align: left;
  line-height: normal;
}

.contact p:nth-child(2) {
  padding-top: 50px;
}

// -------------------------------

.avis,
.etoiles {
  border: 1px solid #34170e;
}

.avis {
  border-left: none;
  border-bottom: none;
}

.etoiles {
  border-bottom: none;
  display: flex;
  align-items: center;
  gap: 44px;
  padding-left: 89px;
}

// -------------------------------

.newsletter h2 {
  border: 1px solid #34170e;
  border-bottom: none;
  padding-right: 144px;
}

.newsletter {
  display: flex;
  justify-content: center;
}

// --------------------------

.insertion-newsletter {
  border: 1px solid #34170e;
  border-left: none;
  border-bottom: none;
  padding-top: 120px;
}

.insertion-newsletter form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.insertion-newsletter input[type="email"] {
  width: 100%;
  max-width: 80%;
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}
