h1 {
  width: 283px;
  height: 52px;
}

.h1 {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

header p:first-child {
  padding-top: 9px;
  padding-bottom: 24px;
}

header {
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.4));
}

// ---------------------------------------

.nav {
  border: 1px solid #34170e;
  border-radius: 20px 20px 0px 0px;
}

.nav-flex {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 25px 50px;
}

.nav .col-12 {
  display: flex;
}

.nav-flex-icons {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-gap {
  gap: 59px;
  border-right: 1px solid #34170e;
  border-left: 1px solid #34170e;
}

.nav .nav-flex:last-child {
  border-left: 1px solid #34170e;
}

// ---------------------------------------

.video-container {
  position: relative;
  width: 100%;
  height: 560px;
  overflow: hidden;
}

.video-container source {
  position: absolute;
}

// ---------------------------------------

.slider-container {
  position: relative;
  width: 100%;
  height: 74px;
  overflow: hidden;
  border: 1px solid #34170e;
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  font-weight: 300;
}

.slider-item {
  flex: 0 0 auto;
  padding-left: 133px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

// ---------------------------------------

/* Styles for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  top: 64px;
  left: -51px;
  background-color: #fff0ce;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
  width: 140px;
}

/* Style for the dropdown items */
.dropdown-item {
  border: 0.5px solid #34170e;
  color: black;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  display: block;
  position: relative; /* Needed for the underline effect */
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition: opacity 0.3s ease;
}

/* Hover effect for dropdown items */
.dropdown-item::after {
  content: "";
  display: block;
  width: 0;
  bottom: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-item:hover::after {
  width: 100%; /* Pleine largeur sous le texte */
  background-color: black; /* Couleur de l'underline text */
}
