/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  max-width: 1440px;
  margin: auto;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

* {
  font-family: "monotalic", sans-serif;
  color: #34170e;
}

h1 {
  width: 283px;
  height: 52px;
}

h2,
h3,
p {
  text-align: center;
}

.button,
.strong-text,
p {
  font-size: 24px;
}

.button,
.strong-text {
  font-weight: 500;
}
