/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  max-width: 1440px;
  margin: auto;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

* {
  font-family: "monotalic", sans-serif;
  color: #34170e;
  font-size: 24px;
}

p {
  text-align: center;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 139.5%;
  padding: 63px 0 63px 50px;
  text-align: left;
}

h3 {
  font-size: 36px;
}

.button,
.strong-text,
p {
  font-size: 24px;
}

p {
  font-weight: 300;
}

.button,
.strong-text {
  font-weight: 500;
}

.clair-bg {
  background-color: #fff9eb;
}

.fonces-bg {
  background-color: #fff0ce;
}

strong {
  font-weight: 500;
  line-height: 2;
}
